<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card" th:fragment="middle-dashboard">
    <div class="card-header">
        <p class="card-header-title">Welcome To Projectory</p>
    </div>

    <div class="card-content">
        <div class="content">
            <h1 class="title is-6">Getting Started:</h1>
            <p>
                For Project <strong>Owners</strong>:
                <br/>
                Start by adding a project by clicking the button top left.
                <br/>
                <br/>
                Hereafter you can assign people to your project including project managers and team members.
                If you have any sub-projects, tasks and subtasks already planned you can add those by navigating through
                the sub-project, task and sub-task sections.
                <br/>
                <br/>
                Click the statistics button in the navigation bar to view statistics of the selected project.

                <br/>
                <br/>
                For <strong>Project Managers</strong>
                <br/>
                Assuming you're assigned to a project you have the options to add sub-projects, tasks and subtasks to
                the current project.

                <br/>
                <br/>
                For <strong>Developers</strong>:
                <br/>
                Assuming you've been assigned to one or more projects you can navigate to those in the side panel. Here
                you can check uncompleted projects, sub-projects, tasks and subtask.
                <br/>
                As you're working on a project you can input your work-hours on the selected projects you've been
                assigned to.


            </p>
        </div>
    </div>
</div>
</body>
</html>