<!DOCTYPE html>
<!--
@Author: AFC
-->
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="navbar">

    <nav class="navbar" id="main-menu" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a href="/dashboard/projects" class="logo">PROJECTORY</a>
        </div>

        <div id="navBar" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" th:href="@{/dashboard/projects}">Home</a>
                <a sec:authorize="hasAuthority('PROJECT_OWNER')" class="navbar-item"
                   th:href="@{/dashboard/projects/createProject}">Add Project</a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-danger " th:href="@{/logout}">Sign out</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

</body>
</html>