<!DOCTYPE html>
<!--
@Author: MSN
-->
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        lang="en">
<head th:insert="fragments/head.html :: head">
</head>
<body>
<div th:fragment="projectNavbar">
    <nav class="navbar" role="navigation" aria-label="project navigation">
        <div class="navbar-brand">
            <a class="navbar-item" th:href="@{/dashboard/projects/{id}(id=${currentProject?.id})}">
                Project Info
            </a>
        </div>

        <div id="projectNavbar" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item"
                   th:href="@{/dashboard/projects/{projectId}/subProjects/(projectId=${currentProject?.id})}">
                    Sub Projects
                </a>

                <a class="navbar-item" sec:authorize="hasAuthority('PROJECT_OWNER')"
                   th:href="@{/dashboard/projects/{projectId}/statistics/(projectId=${currentProject?.id})}">
                    Statistics
                </a>

            </div>

            <div class="navbar-end">
            </div>
        </div>
    </nav>
</div>
</body>
</html>