<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        lang="en">
<head th:insert="fragments/head.html :: head">
</head>
<body>
<div th:fragment="selectedSubProject">
    <div class="card">
        <div class="buttons">

        </div>
        <div class="card-header">
            <p class="card-header-title">Sub-Project information</p>
        </div>

        <div class="card-content">
            <div class="content">
                <!-- TODO: maybe add start date, end date, allocated hours? add more info -->
                <h1 class="title is-6">Sub-Project Name:</h1>
                <p th:text="${currentSubProject?.subProjectName}" id="currentProjectName"></p>
                <h1 class="title is-6">Project Owner:</h1>
                <p th:text="${currentSubProject?.person?.name + ' ' + currentSubProject?.person?.lastName}"
                   id="currentProjectOwner"></p>
            </div>
        </div>
    </div>
    <br/>

    <div class="card">
        <div class="card-header">
            <p class="card-header-title">Sub-Project Description</p>
        </div>

        <div class="card-content">
            <div class="content">
                <p th:text="${currentSubProject?.description}" id="currentProjectDescription"></p>
            </div>
        </div>
    </div>
    <br/>

    <div class="card" th:switch="${tasks}">
        <div class="card-header">
            <p class="card-header-title">Tasks</p>
        </div>
        <div class="card-content">
            <div class="content">
                <div id="addTeamMemberButton">
                    <!-- TODO: add a add Task hyperlink here" -->
                    <a sec:authorize="hasAnyRole('PROJECT_OWNER', 'PROJECT_MANAGER')"
                       class="button is-primary is-small">Add Task</a>
                </div>
                <h1 class="title is-6" th:case="null">No Tasks registered!</h1>
                <div th:case="*">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Completed?</th>
                                <th>Utilities</th>
                                <!-- add limiter, pagination -->
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="task : ${tasks}">
                                <!-- TODO: add hyperlink as in all-subprojects-for-project,
                                <a th:href="@{/dashboard/projects/{projectId}/subProjects/{subProjectId}(subProjectId=${subProject.id}, projectId=${currentProject?.id})}" th:text="${subProject.subProjectName}" -->
                                <td th:text="${task.taskName}"></td>
                                <td th:text="${task.utilStartDate}"></td>
                                <td th:text="${task.utilEndDate}"></td>
                                <td th:text="${task.completed}"></td>
                                <!-- TODO: add a onclick confirm here (maybe), idk if the delete button should be there tho? -->
                                <td><a sec:authorize="hasAnyAuthority('PROJECT_OWNER', 'PROJECT_MANAGER')" class="button is-danger is-small">Delete</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>