<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        lang="en">
<head th:insert="fragments/head.html :: head">
</head>
<body>
<div th:fragment="selectedTask">
    <div class="card">
        <div class="buttons">

        </div>
        <div class="card-header">
            <p class="card-header-title">Task information</p>
        </div>

        <div class="card-content">
            <div class="content">
                <h1 class="title is-6">Task Name:</h1>
                <p th:text="${currentTask?.taskName}" id="currentTaskName"></p>
                <h1 class="title is-6">Start Date and End Date:</h1>
                <p th:text="'Start Date: ' + ${currentTask?.utilStartDate} + ', End Date: ' + ${currentTask?.utilEndDate} "
                   id="dates"></p>
                <h1 class="title is-6">Allocated Hours (In work hours (8 hrs/day):</h1>
                <p th:text="${currentTask?.allocatedHours}" id="allocatedHours"></p>
            </div>
        </div>
    </div>
    <br/>

    <div class="card">
        <div class="card-header">
            <p class="card-header-title">Task Description</p>
        </div>

        <div class="card-content">
            <div class="content">
                <p th:text="${currentTask?.description}" id="currentProjectDescription"></p>
            </div>
        </div>
    </div>
    <br/>

    <div class="card" th:switch="${subTasksForTask}">
        <div class="card-header">
            <p class="card-header-title">Sub-Tasks</p>
        </div>
        <div class="card-content">
            <div class="content">
                <div id="addSubTaskButton">

                    <a sec:authorize="hasAnyAuthority('PROJECT_OWNER', 'PROJECT_MANAGER')"
                       class="button is-primary is-small"
                       th:href="@{/dashboard/tasks/{taskId}/subTasks/createSubTask(taskId=${currentTask?.id})}">Add
                        Sub-Task</a>
                </div>
                <h1 class="title is-6" th:case="null">No Sub-Tasks registered!</h1>
                <div th:case="*">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Completed?</th>
                                <th>Utilities</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="subTask : ${subTasksForTask}">
                                <td>
                                    <a th:href="@{/dashboard/tasks/{taskId}/subTasks/{subTaskId}(taskId=${currentTask?.id}, subTaskId=${subTask.id})}"
                                       th:text="${subTask.subTaskName}"></a>
                                </td>
                                <td th:text="${subTask.utilStartDate}"></td>
                                <td th:text="${subTask.utilEndDate}"></td>
                                <td th:text="${subTask.completed}"></td>
                                <td>
                                    <a sec:authorize="hasAnyAuthority('PROJECT_OWNER', 'PROJECT_MANAGER')"
                                       th:href="@{/dashboard/tasks/{taskId}/subTasks/{subTaskId}/delete(taskId=${currentTask?.id}, subTaskId=${subTask.id})}"
                                       class="button is-danger is-small">
                                        Delete
                                    </a>
                                    <th:block th:if="${subTask.completed} == false">
                                        <a sec:authorize="hasAnyAuthority('PROJECT_OWNER', 'PROJECT_MANAGER')"
                                           th:href="@{/dashboard/tasks/{taskId}/subTasks/{subtaskId}/complete(taskId=${currentTask?.id}, subTaskId=${subTask.id})}"
                                           class="button is-primary is-small">Complete</a>
                                    </th:block>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="buttons">
        <a th:href="@{/dashboard/projects/{projectId}/subProjects/{subProjectId}(projectId=${currentProject?.id}, subProjectId=${currentSubProject?.id})}"
           class="button is-primary is-small">Back to selected Sub Project</a>
    </div>
</div>
</body>
</html>