<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        lang="en">
<head th:insert="fragments/head.html :: head">
</head>
<body>
<div th:fragment="selectedSubTask">
    <div class="card">
        <div class="buttons">

        </div>
        <div class="card-header">
            <p class="card-header-title">Sub-Task information</p>
        </div>

        <div class="card-content">
            <div class="content">
                <h1 class="title is-6">Sub-Task Name:</h1>
                <p th:text="${currentSubTask?.subTaskName}" id="currentProjectName"></p>
                <h1 class="title is-6">Start Date and End Date:</h1>
                <p th:text="'Start Date: ' + ${currentSubTask?.utilStartDate} + ', End Date: ' + ${currentSubTask?.utilEndDate} "
                   id="dates"></p>
                <h1 class="title is-6">Allocated Hours (In work hours (8 hrs/day):</h1>
                <p th:text="${currentSubTask?.allocatedHours}" id="allocatedHours"></p>
            </div>
        </div>
    </div>
    <br/>

    <div class="card">
        <div class="card-header">
            <p class="card-header-title">Sub-Task Description</p>
        </div>

        <div class="card-content">
            <div class="content">
                <p th:text="${currentSubTask?.description}" id="currentProjectDescription"></p>
            </div>
        </div>
    </div>

    <br>
    <div class="card">
        <div class="card-header">
            <p class="card-header-title">Add Hours Spent on Sub-Task</p>
        </div>

        <div class="card-content">
            <div class="content">
                <form action="#"
                      th:action="@{/dashboard/tasks/{taskId}/subTasks/{subTaskId}/addHours(subTaskId=${currentSubTask?.id}, taskId=${currentTask?.id})}"
                      th:object="${hoursHelper}" method="post" class="form-horizontal"
                      role="form">
                    <div class="form-group">
                        <div class="column">
                            <strong>
                                <label for="taskName">Hours</label>
                            </strong>
                            <input type="number" th:field="*{hours}" width="20"
                                   placeholder="Name" class="input is-primary is-normal" id="taskName"
                                   style="box-shadow: 0 2px 4px 0 rgba(0,0,0,.2); border-color: black;"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="column">
                            <button type="submit" class="button is-success">Add Hours</button>
                        </div>
                    </div>
                    <h2 class="title is-4"><span class="text-success" th:utext="${successMessage}"></span></h2>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <br>
    <div class="buttons">
        <a th:href="@{/dashboard/tasks/{taskId}(taskId=${currentTask?.id})}" class="button is-primary is-small">Back to
            selected Task</a>
    </div>
</div>
</body>
</html>