<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        lang="en">
<head th:insert="fragments/head.html :: head">
</head>
<body>
<div th:fragment="selectedProject">
    <div class="card">
        <div class="card-header">
            <p class="card-header-title">Project information</p>
        </div>

        <div class="card-content">
            <div class="content">
                <h1 class="title is-6">Project Name:</h1>
                <p th:text="${currentProject?.projectName}" id="currentProjectName"></p>
                <h1 class="title is-6">Project Owner:</h1>
                <p th:text="${currentProject?.person?.name + ' ' + currentProject?.person?.lastName}"
                   id="currentProjectOwner"></p>
                <h1 class="title is-6">Start Date and End Date:</h1>
                <p th:text="'Start Date: ' + ${currentProject?.utilStartDate} + ', End Date: ' + ${currentProject?.utilEndDate} "
                   id="dates"></p>
                <h1 class="title is-6">Allocated Hours (In work hours (8 hrs/day):</h1>
                <p th:text="${currentProject?.allocatedHours}" id="allocatedHours"></p>
            </div>
        </div>
    </div>
    <br/>

    <div class="card">
        <div class="card-header">
            <p class="card-header-title">Project Description</p>
        </div>

        <div class="card-content">
            <div class="content">
                <p th:text="${currentProject?.description}" id="currentProjectDescription"></p>
            </div>
        </div>
    </div>
    <br/>

    <div class="card" th:switch="${projectMembersForProject}">
        <div class="card-header">
            <p class="card-header-title">Project Members</p>
        </div>
        <div class="card-content">
            <div class="content">
                <div id="addTeamMemberButton">
                    <a th:href="@{'/dashboard/projects/' + ${currentProject?.id} + '/addProjectMember'}"
                       sec:authorize="hasAuthority('PROJECT_OWNER')" class="button is-primary is-small">Add Project
                        Members</a>
                </div>
                <h1 class="title is-6" th:case="null">No Project Members registered!</h1>
                <div th:case="*">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Competence</th>
                                <th>Utilities</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="projectMember : ${projectMembersForProject}">
                                <td th:text="${projectMember.person.name + ' ' + projectMember.person.lastName}"></td>
                                <td th:text="${projectMember.person.competence}"></td>
                                <td>
                                    <a sec:authorize="hasAuthority('PROJECT_OWNER')"
                                       th:href="@{/dashboard/projects/{projectId}/deleteProjectMember/{projectMemberId}(projectId=${currentProject?.id}, projectMemberId=${projectMember.id})}"
                                       class="button is-danger is-small">Delete</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="buttons">
        <a sec:authorize="hasAuthority('PROJECT_OWNER')"
           th:href="@{/dashboard/projects/{projectId}/delete(projectId=${currentProject?.id})}"
           class="button is-danger is-small">Delete Project</a>
    </div>
</div>
</body>
</html>