<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        lang="en">
<head th:insert="fragments/head.html :: head">
</head>
<body>
<div th:fragment="selectedProject">
    <div class="card">
        <div class="card-header">
            <p class="card-header-title">Project information</p>
        </div>

        <div class="card-content">
            <div class="content">
                <!-- TODO: maybe add start date, end date, allocated hours? add more info -->
                <h1 class="title is-6">Project Name:</h1>
                <p th:text="${currentProject?.projectName}" id="currentProjectName"></p>
                <h1 class="title is-6">Project Owner:</h1>
                <p th:text="${currentProject?.person?.name + ' ' + currentProject?.person?.lastName}"
                   id="currentProjectOwner"></p>
            </div>
        </div>
    </div>
    <br/>

    <div class="card">
        <div class="card-header">
            <p class="card-header-title">Project Description</p>
        </div>

        <div class="card-content">
            <div class="content">
                <p th:text="${currentProject?.description}" id="currentProjectDescription"></p>
            </div>
        </div>
    </div>
    <br/>

    <div class="card" th:switch="${teamMembersForProject}">
        <div class="card-header">
            <p class="card-header-title">Team Members</p>
        </div>
        <div class="card-content">
            <div class="content">
                <div id="addTeamMemberButton">
                    <a th:href="@{'/dashboard/projects/' + ${currentProject?.id} + '/addTeamMember'}"
                       sec:authorize="hasAuthority('PROJECT_OWNER')" class="button is-primary is-small">Add Team Members</a>
                </div>
                <h1 class="title is-6" th:case="null">No Team Members registered!</h1>
                <div th:case="*">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Competence</th>
                                <th>Utilities</th>
                                <!-- maybe add remove team member link as in student -->
                                <!-- add limiter for team members, pagination -->
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="teamMembers : ${teamMembersForProject}">
                                <td th:text="${teamMembers.person.name + ' ' + teamMembers.person.lastName}"></td>
                                <td th:text="${teamMembers.person.competence}"></td>
                                <!-- TODO: add a onclick confirm here (maybe) -->
                                <td>
                                    <button sec:authorize="hasAuthority('PROJECT_OWNER')" th:onclick="deleteTeamMemberConfirm()" class="button is-danger is-small">Delete</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    function deleteTeamMemberConfirm() {
        var returnValue = confirm("Remove Team Member from Project? (This cannot be undone)");
        var currentProjectId = /*[[${currentProject?.id}]]*/ null;
        var teamMemberId = /*[[${teamMembers.id}]]*/ null;
        if (returnValue == true) {
            return window.location.href = "/dashboard/projects/" + currentProjectId + "/deleteTeamMember/" + teamMemberId;
        }
        else {
            return false;
        }
    }
    /*]]>*/
</script>
</html>