<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        lang="en">
<head th:insert="fragments/head.html :: head">
</head>
<body>
<div th:fragment="statistics">
    <div class="card">
        <div class="buttons">

        </div>
        <div class="card-header">
            <p class="card-header-title">Statistics for Project</p>
        </div>
        <div class="card-content">
            <div class="content">
                <h1 class="title is-6">Project Hours</h1>
                <p th:text="${statistics.projectHours}"></p>
                <h1 class="title is-6">Project Allocated Hours</h1>
                <p th:text="${statistics.project.allocatedHours}"></p>
                <h1 class="title is-6">% of Time Spent / Allocated Hours</h1>
                <th:block th:with="result1=${statistics.projectHours / statistics.project.allocatedHours * 100}">
                    <p th:text="${result1} + '%'"></p>
                </th:block>
            </div>
        </div>
    </div>
    <br/>
    <div class="card" th:switch="${subProjects}">
        <div class="card-header">
            <p class="card-header-title">Sub Project Statistics</p>
        </div>
        <div class="card-content">
            <div class="content">
                <h1 class="title is-6" th:case="null">No Statistics registered!</h1>
                <div th:case="*">

                        <div class="table">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Sub-Project Name</th>
                                    <th>Time Spent (Hours)</th>
                                    <th>Allocated Time (Hours)</th>
                                    <th>% of Time Spent / Allocated Hours</th>
                                    <th>% of Time Spent / Project Hours</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="subProject : ${subProjects}">
                                    <td th:text="${subProject.subProjectName}"></td>
                                    <td th:text="${subProject.totalTimeSpent}"></td>
                                    <td th:text="${subProject.allocatedHours}"></td>
                                    <th:block th:with="result2=${subProject.totalTimeSpent / subProject.allocatedHours * 100}">
                                        <td th:text="${result2} + '%'"></td>
                                    </th:block>
                                    <th:block th:with="result3=${subProject.totalTimeSpent / statistics.project.allocatedHours * 100}">
                                        <td th:text="${result3} + '%'"></td>
                                    </th:block>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card" th:switch="${subProjects}">
        <div class="card-header">
            <p class="card-header-title">Task Statistics</p>
        </div>
        <div class="card-content">
            <div class="content">
                <h1 class="title is-6" th:case="null">No Statistics registered!</h1>
                <div th:case="*">
                        <div class="table">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Task Name</th>
                                    <th>Sub-Project Name</th>
                                    <th>Time Spent (Hours)</th>
                                    <th>Allocated Time (Hours)</th>
                                    <th>% of Time Spent / Allocated Hours</th>
                                    <th>% of Time Spent / Project Hours</th>
                                </tr>
                                </thead>
                                <th:block th:each="subProject : ${subProjects}">
                                <tbody th:each="tasks : ${subProject.tasks}">
                                <tr>
                                    <td th:text="${tasks.taskName}"></td>
                                    <td th:text="${tasks.subProject.subProjectName}"></td>
                                    <td th:text="${tasks.totalTimeSpent}"></td>
                                    <td th:text="${tasks.allocatedHours}"></td>
                                    <th:block th:with="result4=${tasks.totalTimeSpent / tasks.allocatedHours * 100}">
                                        <td th:text="${result4} + '%'"></td>
                                    </th:block>
                                    <th:block th:with="result5=${tasks.totalTimeSpent / statistics.project.allocatedHours * 100}">
                                        <td th:text="${result5} + '%'"></td>
                                    </th:block>
                                </tr>
                                </tbody>
                                </th:block>
                            </table>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card" th:switch="${subProjects}">
        <div class="card-header">
            <p class="card-header-title">Sub-Task Statistics</p>
        </div>
        <div class="card-content">
            <div class="content">
                <h1 class="title is-6" th:case="null">No Statistics registered!</h1>
                <div th:case="*">
                        <div class="table">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Sub-Task Name</th>
                                    <th>Task Name</th>
                                    <th>Time Spent (Hours)</th>
                                    <th>Allocated Time (Hours)</th>
                                    <th>% of Time Spent / Allocated Hours</th>
                                    <th>% of Time Spent / Project Hours</th>
                                </tr>
                                </thead>
                                <th:block th:each="subProject : ${subProjects}">
                                <tbody th:each="tasks : ${subProject.tasks}">
                                <tr th:each="subTasks : ${tasks.subTasks}">
                                    <td th:text="${subTasks.subTaskName}"></td>
                                    <td th:text="${subTasks.task.taskName}"></td>
                                    <td th:text="${subTasks.totalTimeSpent}"></td>
                                    <td th:text="${subTasks.allocatedHours}"></td>
                                    <th:block th:with="result6=${subTasks.totalTimeSpent / subTasks.allocatedHours * 100}">
                                        <td th:text="${result6} + '%'"></td>
                                    </th:block>
                                    <th:block th:with="result7=${subTasks.totalTimeSpent / statistics.project.allocatedHours * 100}">
                                        <td th:text="${result7} + '%'"></td>
                                    </th:block>
                                </tr>
                                </tbody>
                                </th:block>
                            </table>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
</body>
</html>