<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        lang="en">

<head th:insert="fragments/head.html :: head">
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<!-- TODO: Fix thymeleaf security based on roles, hide shit etc -->
<body>
<div id="dashboard">
    <div id="nav" th:insert="fragments/navbar.html :: navbar"></div>
    <section class="main-content columns is-fullheight">
        <aside class="column is-1 is-fullheight" id="sideMenu">
            <p class="menu-label" id="sideMenu-label"><strong>Projects</strong></p>
            <ul class="menu-list" id="sideMenu-list">
                <li th:each="project : ${projects}">

                    <!--
                    if project is completed, do not display it on the list
                    <span th:if="${true}">will be rendered</span>
                    maybe use itemStat to get completed? otherwise add a big header that says COMPLETED
                    so you can still view projects.
                    -->

                    <a th:href="@{/dashboard/projects/{id}(id=${project.id})}" th:text="${project.projectName}"></a>
                </li>
            </ul>
        </aside>

        <!-- TODO: GO BACK BUTTONS EVERYWHERE! -->
        <div class="container column is-10">
            <div class="section">
                <div th:unless="${currentProject?.id} == null"
                     th:include="fragments/project-navbar.html :: projectNavbar"></div>
                <br>
                <div th:if="${currentProject?.id} == null"
                     th:insert="fragments/middle-of-dashboard.html :: middle-dashboard"></div>
                <!-- TODO: find some solution for hiding middle box when navigation between pages? otherwise keep these ifs and stuff, make a "default home page fragment" that is hidden if navbar is clicked
                Second solution is returning fragments from the controller instead, which you probably should donkey-->
                <div th:hidden="${currentSubProject?.id} != null">
                    <div th:hidden="${subProjectsForProject} != null">
                        <th:block th:unless="${currentProject?.id} == null">
                            <div th:include="fragments/selected-project.html :: selectedProject"></div>
                        </th:block>
                    </div>
                    <div th:hidden="${currentSubProject} != null">
                        <th:block th:unless="${subProjectsForProject} == null">
                            <div th:include="fragments/all-subprojects-for-project.html :: allSubProjectsForProject"></div>
                        </th:block>
                    </div>
                </div>
                <div>
                    <th:block th:unless="${currentSubProject?.id} == null">
                        <div th:include="fragments/selected-sub-project.html :: selectedSubProject"></div>
                    </th:block>
                </div>
            </div>
        </div>

    </section>
</div>
<footer>
    <div th:insert="fragments/footer.html :: footer"></div>
</footer>
</body>
</html>