<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        lang="en">

<head th:insert="fragments/head.html :: head">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <title>Dashboard</title>
</head>

<body>
<div id="dashboard">
    <div id="nav" th:insert="fragments/navbar.html :: navbar"></div>
    <section class="main-content columns is-fullheight">
        <aside class="column is-1 is-fullheight" id="sideMenu">
            <p class="menu-label" id="sideMenu-label"><strong>Projects</strong></p>
            <ul class="menu-list" id="sideMenu-list">
                <li th:each="project : ${projects}">
                    <a th:href="@{/dashboard/projects/{id}(id=${project.id})}" th:text="${project.projectName}"></a>
                </li>
            </ul>
        </aside>
        <!-- this container probably needs to be a fragment as well -->
        <div class="container column is-10">
            <div class="section">
                <div th:insert="fragments/project-navbar.html :: projectNavbar"></div>
                <br>
                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title">Project information</p>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h1>Project Name:</h1>
                            <p th:text="${currentProject.projectName}" id="currentProjectName"></p>
                            <h1>Project Owner:</h1>
                            <p th:text="${currentProject.person.name + currentProject.person.lastName}" id="currentProjectOwner"></p>
                            <h1>Project Description:</h1>
                            <p th:text="${currentProject.description}" id="currentProjectDescription"></p>
                        </div>
                    </div>
                </div>
                <br/>

                <!-- add a ADD TEAM MEMBER button here to this card -->
                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title">Header</p>
                    </div>
                    <div class="card-content">
                        <div class="content">Content</div>
                    </div>
                </div>
                <br/>

                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title">Header</p>
                    </div>
                    <div class="card-content">
                        <div class="content">Content</div>
                    </div>
                </div>
                <br/>

                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title">Header</p>
                    </div>
                    <div class="card-content">
                        <div class="content">Content</div>
                    </div>
                </div>
                <br/>

                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title">Header</p>
                    </div>
                    <div class="card-content">
                        <div class="content">Content</div>
                    </div>
                </div>
                <br/>

                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title">Header</p>
                    </div>
                    <div class="card-content">
                        <div class="content">Content</div>
                    </div>
                </div>
                <br/>

            </div>
        </div>

    </section>
</div>
</body>
<footer th:insert="fragments/footer.html :: footer">
</footer>
</html>